<div class="wrapper">
  
    <div class="food">
      <div *ngIf="order">
        <div *ngFor="let food of order.food" class="details-main">
          <div class="info row mx-auto d-flex flex-row">
            
            <ng-container *ngIf="food.category === 'APPETIZER'">
              <img class="mr-1" src="/assets/images/appetizer.jpg" width="100px" height="100px" alt="Appetizer image">
            </ng-container>
            
            <ng-container *ngIf="food.category === 'SALAD'">
              <img class="mr-1" src="/assets/images/salad.jpg" width="100px" height="100px" alt="Salad image">
            </ng-container>
            
            <ng-container *ngIf="food.category === 'DESSERT'">
              <img class="mr-1" src="/assets/images/dessert.jpg" width="100px" height="100px" alt="Dessert image">
            </ng-container>
            
            <div>
              <h4>{{ food.name }}</h4>
              <p>{{ food.description }}</p>
              <p>Price: {{ food.price }} lv.</p>
              <button class="btn btn-link" (click)="removeFoodFromOrder(food.id)">Remove food from order</button>
            </div>
          </div>
          
        </div>
  
        <div class="mt-4 mb-5 mx-auto justify-content-center">
          <h4 class="border-bottom text-center">Total price: {{ order.totalValue }} lv.</h4>
  
          <!-- <button *ngIf="noDetails" (click)="addDeliveryDetails()" class="btn btn-link nav-link">
            Add delivery details to finish your order
          </button>
  
          <div *ngIf="finishOrder">
            <h5 class="border-bottom">Delivery details:</h5>
            <div>
              <p>Country: {{ order.delivery.country }}</p>
              <p>City: {{ order.delivery.city }}</p>
              <p>Address: {{ order.delivery.address }}</p>
            </div> -->
            <button (click)="finishOrderAction()" class="btn btn-link nav-link">Buy products</button>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <div *ngIf="!order">
        <h1>Your order is empty!</h1>
    </div>
  </div>
  